* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/backgroundMedium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.calculator {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 25vw;
    height: 70vh;
    background-color: rgba(1, 1, 1, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

p {
    margin: 0
}

.screen {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 35px;
    padding-top: 45px
}

.screen--lastOperation {
    font-weight: normal;
    font-size: 1.5rem;
}

.screen--currentOperation {
    font-weight: 600;
}

.buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
    padding: 20px;
    background-color: rgba(1, 1, 1, 0.2);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(1, 1, 1, 0.5);
    font-weight: 600;
    font-size: 1.4rem;
    flex-basis: 17%;
    min-width: 25%;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.05);
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

.left-upper {
    border-top-left-radius: 6px;
}

.left-lower {
    border-bottom-left-radius: 6px;
}

.right-upper {
    border-top-right-radius: 6px;
}

.right-lower {
    border-bottom-right-radius: 6px;
}

.equal {
    max-height: 135px;
    flex-grow: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input {
    text-align: end;
    color: white;
    font-size: 2.4rem;
    font-weight: inherit;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.input:focus {
    outline: none;
}